<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body style="background-color: #222629;">
    <section class="w-100 mb-5">
        <div class="mx-auto">
            <h1 class="text-center pb-3">
                Tengis Buyantogtokh
            </h1>
            <ul class="nav justify-content-center mt-5">
                <li class="nav-item pr-2">
                    <a class="nav-link" href="/blog_index/1">Home</a>
                </li>
                <li class="nav-item pr-2">
                    <a class="nav-link" id="highlight" href="/blog_index/about">About</a>
                </li>
                <li class="nav-item pr-2">
                    <a class="nav-link" href="/blog_index/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog_index/contact">Contact</a>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="title pt-4 mb-4 text-center">About Me</div>
        <div class="w-100 pt-5 d-flex flex-direction-row justify-content-center">
            <img src="/images/about.jpg" class="portrait mr-5 row">
            <div class="ml-4 bio row">
                My name is Tengis Buyantogtokh.<br><br> I'm a 3rd year student at the National University of Mongolia.
                I'm currently studying in the field of Software Engineering, and am looking to be a Front-end Developer, potentially a Full-Stack Developer in the future.
                The time i spent building this website has ignited my passion for coding, and I am looking forward to working with new, innovative technologies, such as Ruby on Rails.
            </div>
        </div>
    </section>
    <section>
        <hr/ style="border:0.5px solid #474B4F; opacity: 70%;" class="mt-5 mb-5 ml-5 mr-5">
        <div class="text-center footer">© Tengis Buyantogtokh - 2021/03</div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>