<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body style="background-color: #222629;">
    <section class="w-100 mb-5">
        <div class="mx-auto">
            <h1 class="text-center pb-3">
                Tengis Buyantogtokh
            </h1>
            <ul class="nav justify-content-center mt-5">
                <li class="nav-item pr-2">
                    <a class="nav-link" href="/blog_index/1">Home</a>
                </li>
                <li class="nav-item pr-2">
                    <a class="nav-link" href="/blog_index/about">About</a>
                </li>
                <li class="nav-item pr-2">
                    <a class="nav-link" href="/blog_index/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="highlight" href="/blog_index/contact">Contact</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="d-flex flex-column justify-content-center">
        <div class="title text-center">
            Contact Me
        </div>
        <div class="contact d-flex p-2 pb-5 pt-5 align-self-center">
            Phone: (+976)88896622<br>
            E-Mail: tengisluigi@yahoo.com<br>
            Address: Ulaanbaatar, Mongolia.<br>
            Instagram: tengis.buya
        </div>
        <div class="title text-center">
            My workplace:
        </div>
        <div class="map align-self-center mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d945.8134781056374!2d106.92967873260156!3d47.89450137628426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5d9693db64202ca1%3A0x36a64d963187d30d!2sKing%20Tower%20Apartment%20-%20127!5e0!3m2!1sen!2smn!4v1616138121694!5m2!1sen!2smn" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>
    <section>
        <hr/ style="border:0.5px solid #474B4F; opacity: 70%;" class="mt-5 mb-5 ml-5 mr-5">
        <div class="text-center footer">© Tengis Buyantogtokh - 2021/03</div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>