head
  meta[charset="UTF-8"]
  meta[http-equiv="X-UA-Compatible" content="IE=edge"]
  meta[name="viewport" content="width=device-width, initial-scale=1.0"]
  link[rel="stylesheet" href="/css/bootstrap.min.css"]
  link[rel="preconnect" href="https://fonts.gstatic.com"]
  link[href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"]
  link[rel="stylesheet" href="/css/main.css"]
  link[rel="stylesheet" href="/css/index.css"]
  link[rel="stylesheet" href="/css/paginate.css"]
body[style="background-color: #222629;"]
  section.w-100.mb-5
    .mx-auto

    h1.text-center.pb-3
      |  Tengis Buyantogtokh 
    ul.nav.justify-content-center.mt-5
      li.nav-item.pr-2

        a#highlight.nav-link[href="/blog_index/1"]
          | Home
      li.nav-item.pr-2

        a.nav-link[href="/blog_index/about"]
          | About
      li.nav-item.pr-2

        a.nav-link[href="/blog_index/create"]
          | Create
      li.nav-item

        a.nav-link[href="/blog_index/contact"]
          | Contact
  section.w-100.d-flex.flex-row.justify-content-around.pt-5.pb-5
    = will_paginate @posts, class:"apple_pagination"
    = form_with(url: posts_path(@posts), method: :get, local: true, class:"d-flex flex-row-reverse") do |form|
      .ml-5
        = form.select :order, ["Latest", "Oldest", "Most Viewed", "Least Viewed"], {}, {class:"btn btn-secondary dropdown-toggle sort-menu"}
        = form.submit "Sort", class:"sort-button ml-2 btn"
  section.w-100
    - @posts.each_with_index do |post, index|
      section.w-100
        .w-100.post.mb-4.pl-5.pr-5.pt-5
          |  <div class="h4 title text-center" onclick="location.href='/blog_index/show/
          = post.id
          | '"> 
          = post.title
        .mt-4.subtext.text-center
          = 'By ' + post.author + ', on ' + post.created_at.strftime("%B #{post.created_at.day.ordinalize}, %Y")
        .mt-5.body.text-justify
          = post.body.truncate(500)
          |  <span class="readmore" onclick=" location.href='/blog_index/show/
          = post.id
          | ' "> ...Read More
        .mt-5.comments.text-center
          img.icon[src="/images/views.svg"]
          span.img-space
          = '  '+post.views.to_s + ' views'
          span.tab-space
          img.icon[src="/images/comments.svg"]
          span.img-space
          = + post.comments.to_s + ' comments'
        - if @banner_idx.include? index
          .banner.w-100.pt-5
            = image_tag("/images/banner.png", :alt => "rss feed", class:"banner-image mt-5 mb-5")
  section
    = will_paginate @posts, class:"apple_pagination mt-5 pb-5"
  section
    |  <hr/ style="border:0.5px solid #474B4F; opacity: 70%;" class="mt-5 mb-5 ml-5 mr-5"> 
    .text-center.footer
      | © Tengis Buyantogtokh - 2021/03
  script[src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"]
  script[src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"]
  script[src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"]
