:root {
    --background: #222629;
    --title: white;
    --nav: white;
    --highlight: #86C232;
    --sub: #474B4F;
    --text: #8e9194;
    --post-title: #61892F;
    --light-text: #6B6E70;
}

.title {
    color: var(--post-title);
    font-weight: 400;
    font-size: 24px;
}

.portrait {
    width: 270px;
    height: 100%;
}

.bio {
    color: var(--text);
    width: 40%;
    text-align: justify;
    font-weight: 400;
}