root {
    --background: #222629;
    --title: white;
    --nav: white;
    --highlight: #86C232;
    --sub: #474B4F;
    --text: #8e9194;
    --post-title: #61892F;
    --light-text: #6B6E70;
}

.comments-icon {
    opacity:100%;
}

.comment-main {
    color: var(--light-text);
}

.subtext {
    color: var(--sub);
    font-weight: 300;
}

.head-title {
    color: var(--highlight);
    font-weight: 300;
    font-size: 24px;
}

.create-button {
    background-color: var(--background);
    color: var(--light-text);
    border-color: var(--post-title);
}

.create-button:hover {
    background-color: var(--post-title);
    border-color: var(--post-title);
    cursor: pointer;
}

.form {
    background-color: var(--background);
    border-color: var(--light-text);
}

.form:focus {
    background-color: #222222;
    border-color: var(--post-title);
    box-shadow: none;
    color: white;
}

#create-body {
    height: 5rem;
    word-wrap:break-word;
    overflow: hidden;
}