:root {
    --background: #222629;
    --title: white;
    --nav: white;
    --highlight: #86C232;
    --sub: #474B4F;
    --text: #8e9194;
    --post-title: #61892F;
    --light-text: #6B6E70;
}

.title {
    color: var(--highlight);
    font-weight: 500;
    font-size: 24px;
}

.post {
    padding-bottom: 4rem;
}

.subtext {
    color: var(--sub);
    font-size: 15px;
}

.body {
    color: var(--text);
    font-size: 16px;
    font-weight: 300;
}

.views {
    color: var(--light-text);
}

.comments-title {
    color: var(--highlight)
}

.comments-icon {
    opacity:100%;
}

.comment-author {
    border: none;
    border-right: solid;
    border-width: 2px;
    border-color: var(--post-title);
    color: var(--post-title);
    font-weight: 700;
}

.comment-main {
    color: var(--light-text);
}

.subtext {
    color: var(--sub);
    font-weight: 300;
}

.writecomment {
    color: var(--highlight);
    font-weight: 500;
    font-size: 18px;
}

.comment-button {
    background-color: var(--background);
    color: var(--light-text);
    border-color: var(--post-title);
}

.comment-button:hover {
    background-color: var(--post-title);
    border-color: var(--post-title);
}

.form {
    background-color: var(--background);
    border-color: var(--light-text);
}

.form:focus {
    background-color: #2e2d2d;
    border-color: var(--post-title);
    box-shadow: none;
    color: white;
}

#comment-body {
    height: 5rem;
    word-wrap:break-word;
    overflow: hidden;
}